* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

header {
  background-color: burlywood;
  width: 100%;
  text-align: center;
  font-size: 2em;
  padding: 20px;
}

main {
}

#cards {
  display: flex;
  justify-content: space-evenly;
  gap: 50px;
  width: 900px;
  height: 60vh;
  margin: 10px 0;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid black 2px;
  flex: 1;
}

.title {
  background-color: burlywood;
  width: 100%;
  text-align: center;
  padding: 10px;
  font-size: 1.5em;
  border-bottom: solid black 2px;
}

.score {
  background-color: dimgre;
  font-size: 2em;
  text-align: center;
  width: 95%;
  padding: 10px 0;
  margin: 10px 0;
  border-radius: 10px;
}

.selection {
  width: 95%;
  flex: 1;
  background-color: dimgrey;
  text-align: center;
  margin-bottom: 10px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.selection img {
  border-radius: 10px;
  width: 60%;
  height: 60%;
}

.results {
  text-align: center;
  font-size: 1.5em;
}

.results {
  background-color: burlywood;
  width: max-content;
  margin: auto;
  padding: 20px 100px;
  border-radius: 5px;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

img {
  width: 100px;
  height: 100px;
}

button {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin-top: 10px;
}

button:hover {
  cursor: pointer;
  border: solid black 2px;
}
