* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

header {
  width: 100%;
  text-align: center;
  font-size: 2em;
  padding: 20px;
}

#cards {
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
  width: 800px;
  height: 50vh;
  margin: 10px 0;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  flex: 1;
}

.title {
  background-color: burlywood;
  width: 100%;
  text-align: center;
  padding: 10px;
  font-size: 1.3em;
  border-start-start-radius: 10px;
  border-start-end-radius: 10px;
}

.score {
  font-size: 2em;
  text-align: center;
  width: 100%;
  border-left: solid black 1px;
  border-right: solid black 1px;
}

.selection {
  width: 100%;
  flex: 1;
  background-color: dimgrey;
  text-align: center;
  margin-bottom: 10px;
  border-end-start-radius: 10px;
  border-end-end-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.selection img {
  border-radius: 10px;
  width: 60%;
  height: 60%;
}

.numberOfRounds {
  text-align: center;
  margin: 20px auto;
  padding: 10px;
  background-color: burlywood;
  border-radius: 5px;
  font-size: 1.5em;
  width: 60%;
}

.results {
  text-align: center;
  font-size: 1.5em;
  width: 60%;
  margin: 0 auto 10px auto;
  padding: 10px;
  background-color: burlywood;
  border-radius: 5px;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

img {
  width: 100px;
  height: 100px;
}

button {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin-top: 10px;
  border: none;
}

button:hover {
  cursor: pointer;
  border: solid black 2px;
}

.playAgainBtn {
  margin: 20px auto 0 auto;
  padding: 10px;
  font-size: 2em;
  background-color: dimgrey;
  color: white;
  border-radius: 5px;
}
